html {overflow: -moz-scrollbars-vertical;}

body {
	background: rgb(247, 209, 242);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3C3D3F;
    text-align: left;
    max-width: 1080px;
    margin: auto;
}

body #page_title {
    font-size: 100px;
    margin-bottom: -10px;
    margin-top: 0px;
    text-align: center;
    color: rgb(255, 0, 242);
}

header #title{
    
    text-decoration:none;
    margin: 0px;
    width:100%;
    font-size:48px;
}

.header_btn{
    text-decoration:none;
    font-size: 16px;
    margin-left:5px;
    margin-right:5px;
}

#close_button{
    background-image: url('../media/close33.png');
}

footer{
    margin-top: 20px;
    text-align:center;
}

.alert{
    color: red;
}
